$background: #eee;
$foreground: #337ab7;

.scrollindicator {
	width: 100%;
	height: 10px;
	display: block;
	border: none;
	z-index: 500;
	background: $background;
	color: $foreground;
}

progress.scrollindicator {
	margin-bottom: 20px;
	position: fixed;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

progress.scrollindicator::-webkit-progress-bar {
	background-color: transparent;
}

progress.scrollindicator::-webkit-progress-value {
	background-color: $foreground;
}

progress.scrollindicator::-moz-progress-bar {
	background-color: $foreground;
}

.scrollindicator-ie {
	@extend .scrollindicator;
	span {
		width: 100%;
		height: 100%;
		display: block;
		text-indent: -9999px;
		background: $foreground;
	}
}