$background: #eee;
$color: #337ab7;

progress.scrollindicator {
	width: 100%;
	height: 10px;
	display: block;
	margin-bottom: 20px;
	background: $background;
	position: fixed;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: none;
	color: $color;
	z-index: 500;
}

progress.scrollindicator::-webkit-progress-bar {
	background-color: transparent;
}

progress.scrollindicator::-webkit-progress-value {
	background-color: $color;
}

progress.scrollindicator::-moz-progress-bar {
	background-color: $color;
}
